.mv-wrap {
    position: relative;
    padding: 250px 0;
    background: url(assets/img/mv-bg.png) no-repeat center;
    background-size: cover;
    .mv-txt {
        position: absolute;
        width: 40%;
        right: 13%;
        top: 70px;
    }
    ul {
        position: absolute;
        width: 100%;
        max-width: 1000px;
        left: 0;
        bottom: 21px;
        right: 0;
        margin: 0 auto;
        justify-content: space-between;
        align-items: flex-end;
        li {
            width: 48%;
        }
    }
}

.info-wrap {
    padding: 20px 0;
    background-color: #FFF8E1;
    .info-txt {
        color: #F51D50;
        font-size: 60px;
        justify-content: center;
        p {
            position: relative;
            &:nth-child(2) {
                padding: 0 20px;
            }
        }
        .num {
            font-family: 'FuturaBold';
            letter-spacing: 3px;
        }
        .txt-01 {
            display: inline-block;
            width: 70px;
            margin-left: -10px;
            font-size: 14px;
            font-weight: 700;
        }
        .yan {
            margin-left: -10px;
            font-size: 26px;
            font-weight: 700;
        }
        .info-txt02 {
            position: absolute;
            font-size: 13px;
            color: #5E5E5E;
            display: block;
            right: -20%;
            bottom: 0;
        }
    }
}

.content1 {
    .tab-list {
        padding: 20px 30px;
        justify-content: space-between;
        box-sizing: border-box;
        li {
            a {
                padding: 0 10px;
                color: #1E94D4;
                font-size: 16px;
                font-weight: 700;
                &.active {
                    border-bottom: 1px solid #1E94D4;
                }
            }
        }
    }
    .tab-content {
        position: relative;
        padding: 50px 0 130px;
        background: #5A9CD5;
        color: #fff;
        width: 100%;
        height: 100%;
        box-sizing: content-box;
        min-height: 100px;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            border-left: 50vw solid #fff;
            border-right: 50vw solid #fff;
            border-top: 100px solid transparent;
        }
        .tab-inner {
            padding: 0 30px;
            h2 {
                max-width: 600px;
            }
            p {
                letter-spacing: 2px;
                margin-top: 20px;
            }
        }
        figure {
            position: absolute;
            z-index: 1;
            right: 17%;
            top: -9px;
            width: 21%;
            transform: rotate(-1deg);
        }
    }
}

.content2 {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        top: -30%;
        padding: 100px 0;
        width: 100%;
        height: 100%;
        background: url(assets/img/line-bg.png) repeat center;
        background-size: 100%;
    }
    .point-box {
        position: relative;
        margin-left: 90px;
        margin-top: 80px;
        padding: 30px 50px;
        background-color: #fff;
        border-radius: 15px;
        justify-content: space-between;
        box-sizing: border-box;
        z-index: 9;
        h2 {
            color: #5A9CD5;
            font-size: 26px;
            font-weight: 900;
            span {
                position: relative;
                padding: 0 10px;
                z-index: 0;
                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    height: 18px;
                    background-color: #FFE2B3;
                    width: 100%;
                    left: 0;
                    z-index: -1;
                }
            }
        }
        h3 {
            color: #5A9CD5;
            font-size: 18px;
            font-weight: 900;
        }
        p {
            padding: 10px 0;
            font-size: 14px;
        }
        .point-num {
            display: inline-block;
            max-width: 90px;
            position: absolute;
            top: -45px;
            left: -43px;
        }
        .link {
            padding: 5px 25px 7px 25px;
            color: #1E94D4;
            font-size: 12px;
            border: 1px solid #1E94D4;
            border-radius: 50px;
            box-sizing: border-box;
        }
    }
}

.qa-sec {
    padding-bottom: 20px;
}

.qa-menu {
    background-color: #fff;
    padding: 30px 0;
}

%beforeafter01 {
    content: "";
    position: absolute;
    top: 7px;
    width: 3px;
    height: 13px;
    border-radius: 50px;
    background-color: #EDD098;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.qa-menuinn {
    max-width: 900px;
    width: 85%;
    margin: 0 auto;
    a {
        color: #606060;
    }
    li {
        font-size: 14px;
        padding: 0 7.7%;
        position: relative;
        &:after {
            left: 0;
            @extend %beforeafter01;
        }
        &:last-child::before {
            right: 0;
            @extend %beforeafter01;
        }
    }
}

.qa-wrap {
    background-color: #fff;
    border-radius: 18px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -ms-border-radius: 18px;
    -o-border-radius: 18px;
    margin: 55px 0 30px;
    padding-bottom: 25px;
}

.qa-wrapinn {
    .qa-list {
        &:last-child {
            border-bottom: none;
        }
    }
}

%after01 {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
}

.qa-list {
    width: 90%;
    margin: 0 auto;
    padding: 10px 30px 10px 0;
    border-bottom: 1px solid #4A74A6;
    p {
        padding: 10px 0 10px 43px;
        font-size: 12px;
    }
}

.qa-que {
    font-size: 14px;
    color: #48A9D3;
    font-weight: 600;
    position: relative;
    padding: 0 0 0 43px;
    &:after {
        @extend %after01;
        background: url(assets/img/question-icon.svg)no-repeat;
    }
}

.qa-ans {
    color: #444444;
    position: relative;
    &:after {
        @extend %after01;
        background: url(assets/img/answer-icon.svg)no-repeat;
        top: 10px;
    }
}

.red-text {
    font-size: 12px;
    color: #fff;
    background-color: #F51D50;
}

.ans-inn {
    padding-left: 43px;
    h5 {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        width: 220px;
    }
    ul {
        display: inline-block;
        li {
            font-size: 12px;
        }
    }
}

%beforeafter02 {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
}

.overview {
    width: 100%;
    padding: 50px 0 30px;
    position: relative;
    &:before {
        @extend %beforeafter02;
        background-color: #5A9CD5;
        left: 0;
    }
    &:after {
        @extend %beforeafter02;
        background-color: #48A9D3;
        right: 0;
    }
}

.overview-inn {
    justify-content: space-between;
}

.overview-left {
    width: 48%;
    z-index: 1;
}

.overview-right {
    width: 49%;
    z-index: 1;
    dl {
        padding-left: 25px;
    }
}

.overviewttl {
    margin-bottom: 30px;
}

.overview-list {
    dl {
        margin-bottom: 20px;
        font-size: 14px;
        color: #fff;
        padding-left: 10px;
    }
    dt {
        width: 100px;
    }
    dd {
        width: 78%;
    }
}