.inner {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

.sub-inner {
    max-width: 900px;
    margin: 0 auto;
}

.cmn-ttl01 {
    display: block;
    padding: 40px 0;
    background-color: #5A9CD5;
    text-align: center;
    img {
        max-width: 400px;
        margin: 0 auto;
    }
}